<!DOCTYPE html>
<html lang="en" class="home-html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bsafe-Home</title>   
   <link rel="icon" type="image/x-icon" href="https://www.freeiconspng.com/thumbs/bank-icon/blue-bank-icon-in-flat-style-with-the-building-facade-with-three--26.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


  <script src="https://kit.fontawesome.com/5b61822651.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script>
  jQuery(document).ready(function(){
    jQuery(function() {
          jQuery(this).bind("contextmenu", function(event) {
              event.preventDefault();
              alert('Right click disable in this site!!')
          });
      });
  });
</script> -->

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.12.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBPC3eojJtW60Jj47wAp2gAlCdyLO76Hhk",
    authDomain: "credit-235dd.firebaseapp.com",
    projectId: "credit-235dd",
    storageBucket: "credit-235dd.appspot.com",
    messagingSenderId: "1068587415705",
    appId: "1:1068587415705:web:1140d97921ad2f742c6008",
    measurementId: "G-XQWWVH1R7Z"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

</head>
<body>





  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(48, 37, 82) ; ">
    <a class="navbar-brand" href="#">Bsafe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/login">About</a>
        <a class="nav-item nav-link" href="/login">Contact</a>
      </div>
    </div>
  
   

    <div class="collapse navbar-collapse glow" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-item nav-link " href="/login"><button type="button" class="btn btn-outline-warning login">Log In</button></a>
     
      </div>
    </div>

  </nav>





<style>
  .glow{
    flex-grow: unset;
  }
</style>







<!-- 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\body\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->





<div class="body">
  <section class="section-one"> 
    <div class="container">
      <h1 class="h1-up">Safe Banking</h1>
      <p class="p-up">Bank Employees Will Never Ask For Your Password/Pin/Otp/Cvv/Card Number</p>
      <p class="p-up"><b>Sharing your details can lead to transfer of money from your account</b></p>
      <br>
      <a href="/login" class="home-button">Get Started</a>
    </div>  
  </section> 
 
 <section class="section-two">
    <div class="container-two">
      <div class="container-two-content content">
        <h1>Title</h1>
        <p>Credit card fraud detection is the process of identifying purchase attempts that are fraudulent and rejecting them rather than processing the order. There are a variety of tools and techniques available for detecting fraud, with most merchants employing a combination of several of them.</p>
        <p>Payment cards are easy to use because you only need to transmit a few simple numbers to the bank in order to identify your account and authorize the transaction. This simplicity makes them vulnerable as well. It’s very hard to practice rigorous data security on a few simple numbers that must be shared with the parties you’re transacting with.</p>
      </div>
      <div class="container-two-content content-image last">
        <img src="https://imgk.timesnownews.com/story/1569653930-Credit_Card.jpg">
      </div>
    </div>

   


 </section>
   <center>
 <img class="l1" src="https://imgk.timesnownews.com/story/1569653930-Credit_Card.jpg" width="300px"></center>
</div>




















<!-- \\\\\\\\\\\\\\\\\footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->





  <div class="page-wrapper">
    <footer class="footer">
      <div class="container-footer">
        <div class="row-footer">
          <div class="footer-col-1">
            <h4>Contact</h4>
            <ul>
              <li><a href="#"><i class="fa fa-volume-control-phone" style="font-size:16px;color:white"></i><b style="margin-left:10px;">9123353984</b></a></li>
              <li><a href="#"> <i class="fa-solid fa-house" style="font-size:16px;color:white"></i><b style="margin-left:10px;">A/3 Jayasrre Park Lane</b></a></li>
              <li><a href="#"><i class="fa-solid fa-envelope" style="font-size:16px;color:white"></i><b style="margin-left:10px;">sampritghosh310@gmail.com</b></a></li>
              <li><a href="#"><i class="fa-solid fa-location-dot" style="font-size:16px;color:white"></i><b style="margin-left:10px;">9123353984</b></a></li>
              <!-- <li><a href="#">payment options</a></li> -->
            </ul>
          </div>
    
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="/login">about us</a></li>
              <li><a href="/login">our services</a></li>
              <li><a href="/login">privacy policy</a></li>
              <li><a href="/login">Contact Us</a></li>
            </ul>
          </div>
    
          <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="/login">watch</a></li>
              <li><a href="/login">bag</a></li>
              <li><a href="/login">shoes</a></li>
              <li><a href="/login">dress</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a class="social-fb" href="https://www.facebook.com/samprit.ghosh.396"><i class="fa-brands fa-facebook-f"></i></a>
              <a class="social-tw" href="#"><i class="fab fa-twitter"style="color:sky-blue;font-size:13px;"></i></a>
              <a class="social-insta" href="https://www.instagram.com/legend_samprit/"><i class="fab fa-instagram"></i></a>
              <a class="social-linkd" href="https://www.linkedin.com/in/samprit-ghosh-5a8a1119b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BKLZmEjttQi2YIytnwnyCog%3D%3D"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
    
      </div>
    
    </footer>
    <div id="footer-copyright-info">
      &copy;  SAMPRIT GHOSH Inc. 2022. All rights reserved.
    </div>
    </div>
</body>
</html>