
<!DOCTYPE html>
<html lang="en" class="home-html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>Bsafe-Login</title>
    <link rel="icon" type="image/x-icon" href="https://www.freeiconspng.com/thumbs/bank-icon/blue-bank-icon-in-flat-style-with-the-building-facade-with-three--26.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/5b61822651.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="stylesheet" href=
  "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
      <link rel="stylesheet" href=
  "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity=
  "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href=
  "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
      <link rel="stylesheet" href=
  "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity=
  "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
  
          
    <script>
    jQuery(document).ready(function(){
jQuery(function() {
    jQuery(this).bind("contextmenu", function(event) {
        event.preventDefault();
        alert('Right click disable in this site!!')
    });
});
})

    </script> 
       <script>
        let tagArr = document.getElementsByTagName("input");
        for (let i = 0; i < tagArr.length; i++) {
          tagArr[i].autocomplete = 'off';
        }
      </script>

</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(48, 37, 82) ;z-index: 10;">
  <a class="navbar-brand" href="/">Bsafe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/">About</a>
      <a class="nav-item nav-link" href="/">Contact</a>
    </div>
  </div>
  </div>
</nav>



<body class="body">
 <center>
  <div id="particles-js"></div>
 
  <div class="login-box">
    <h2>Dashboard Access</h2>
    <hr>
            <form id="" class="" autocapitalize="none" autocomplete="off" action="/login" method="POST">


               

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <div class="alert" style="font-family: sans-serif; font-size: 20px; color: {{category}};">{{message}}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}


                    <div class="user-box">
                    
                        <input type="text" class="form-control-reg input" name="username" spellcheck="true" required
                        autocomplete="off">
                            <label>Username</label>
                          </div>
    


                <div class="user-box">
                  <!-- <i class="bi bi-eye-slash togglePassword" id="togglePassword"></i>   -->
                        <input type="password" id="password" class="" name="password" required
                            maxlength="30"   name="password" aria-autocomplete="none"autocomplete="off" >
                   
                            <label>Password</label>
                          </div>
                         
                <br>
                <input type="submit" value="Login" class="btn btn-success"><hr>
                <a href="{{url_for('register')}}" class="btn-grad1-login  btn-block">Create New Account ?</a>
            </form>

          


        </div>
        </center>
      
 </body>



<br>
<br>


<div class="page-wrapper" >
  <footer class="footer" >
    <div class="container-footer">
      <div class="row-footer">
        <div class="footer-col-1">
          <h4>Contact</h4>
          <ul>
            <li><a href="#"><i class="fa fa-volume-control-phone" style="font-size:16px;color:white"></i><b style="margin-left:10px;">9123353984</b></a></li>
            <li><a href="#"> <i class="fa-solid fa-house" style="font-size:16px;color:white"></i><b style="margin-left:10px;">A/3 Jayasrre Park Lane</b></a></li>
            <li><a href="#"><i class="fa-solid fa-envelope" style="font-size:16px;color:white"></i><b style="margin-left:10px;">sampritghosh310@gmail.com</b></a></li>
            <li><a href="#"><i class="fa-solid fa-location-dot" style="font-size:16px;color:white"></i><b style="margin-left:10px;">9123353984</b></a></li>
     
          </ul>
        </div>
  
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="/">about us</a></li>
            <li><a href="/">our services</a></li>
            <li><a href="/">privacy policy</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>
  
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="/">watch</a></li>
            <li><a href="/">bag</a></li>
            <li><a href="/">shoes</a></li>
            <li><a href="/">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a class="social-fb" href="https://www.facebook.com/samprit.ghosh.396"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="social-tw" href="#"><i class="fab fa-twitter"style="color:sky-blue;font-size:13px;"></i></a>
            <a class="social-insta" href="https://www.instagram.com/legend_samprit/"><i class="fab fa-instagram"></i></a>
            <a class="social-linkd" href="https://www.linkedin.com/in/samprit-ghosh-5a8a1119b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BKLZmEjttQi2YIytnwnyCog%3D%3D"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
  
    </div>
  
  </footer>
  <div id="footer-copyright-info">
    &copy; SAMPRIT GHOSH Inc. 2022. All rights reserved.
  </div>
  </div>  








  
 
</html>

