

<!-- 
<!DOCTYPE html>
<html>
<head>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <meta charset="utf-8">
  <title>Disable/enable the form submit button</title>
</head>
<body>
<input id="accept" name="accept" type="checkbox" value="y"/>I accept<br>  
<input id="email" disabled="disabled" name="Submit" type="submit" value="Submit" />



    <script>
    $('#accept').click(function() {
	if ($('#submitbtn').is(':disabled')) {
    	$('#email').removeAttr('disabled');
    } else {
    	$('#email').attr('disabled', 'disabled');
    }
});

</script>
</body>
</html> -->

<form method="post">
    <div>
        <label for="terms_and_conditions">I agree to the Terms of Service:</label>
        <input type="text" id="terms_and_conditions"  oninput="terms_changed(this)" />
    </div>
    <div>
        <input type="checkbox" id="submit_button" disabled>Sign Up</button>
    </div>
</form>

<script>
    function terms_changed(termsCheckBox){
    //If the checkbox has been checked
    if(termsCheckBox.checked){
        //Set the disabled property to FALSE and enable the button.
        document.getElementById("submit_button").disabled = true;
    } else{
        //Otherwise, disable the submit button.
        document.getElementById("submit_button").disabled = false;
    }
}
</script>